body {
    background: #111010;
    font-family: "Ubuntu", sans-serif;
    overflow: hidden; 
}
.container {
    width: 100%;
    height: 100vh;
    background: #423f3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.music-player {
    background: #070c08;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10%;
}
.timeline{
    display: flex;
    color: #57f72f;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.player-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    /* padding: 20px; */

    &__left{
        display: flex;
    }

    &__right{
        display: flex;
        gap: 10px;
    }
    &__btn{
        background: #333030;
        border: none;
        cursor: pointer;
        transition: all 0.3s

        //hover active
    }
}
.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #333030;
    color: #57f72f;
    box-shadow: 0 5px 10px rgba(92, 165, 110, 0.32);
}
#repeatBtn, #mixBtn{
    svg {
        color: #555252;
        transition: transform 0.8s ease;
    }
    &.active{
        svg{
            color: currentColor;
        }
    }
}
#repeatBtn.active{
    svg{
        transform: rotate(360deg) ;
    }
}

.player-nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
   
    svg{
        width: 20px;
        aspect-ratio: 1;
    }
}

.song-img {
    width: 220px;
    border-radius: 50%;
    border: 8px solid #333030;
    box-shadow: 0 10px 60px rgba(13, 180, 13, 0.42);
}
.music-player h1 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}
.music-player p {
    font-size: 14px;
    color: #fff;
}
#progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #57f72f;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0 20px;
}
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #57f72f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #333030;
    box-shadow: 0 5px 5px rgba(92, 165, 110, 0.32);
}
#progress::-moz-range-thumb {
    background: #57f72f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 8px solid #333030;
    box-shadow: 0 5px 5px rgba(92, 165, 110, 0.32);
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #333030;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #57f72f;
    box-shadow: 0 10px 20px rgba(92, 165, 110, 0.32);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #57f72f;
    color: #333030;
}