.player__seekbar {
    display: flex;
    align-items: center;
    margin: 40px 0 20px;
    height: 30px;

    &-range {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 30px;
        background: transparent;
        cursor: pointer;

        &::-webkit-slider-runnable-track {
            height: 6px;
            background: #57f72f;   
            border-radius: 4px;
        }

        &::-moz-range-track {
            height: 6px;
            background: #57f72f;  
            border-radius: 4px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 8px solid #333030;
            background: #57f72f;
            box-shadow: 0 5px 5px rgba(92, 165, 110, 0.32);
            margin-top: -12px;
        }

        &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 8px solid #333030;
            background: #57f72f;
            box-shadow: 0 5px 5px rgba(92, 165, 110, 0.32);
        }
    }
}
.player__time{
    display: flex;
    color: #57f72f;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}