body {
    background: #111010;
    font-family: "Ubuntu", sans-serif;
    overflow: hidden; 
}
.container {
    width: 100%;
    height: 100vh;
    background: #423f3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #333030;
    color: #57f72f;
    box-shadow: 0 5px 10px rgba(92, 165, 110, 0.32);
}