body {
  background: #111010;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  background: #423f3b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.player {
  background: #070c08;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 10%;
}
.player__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  /* padding: 20px; */
}
.player__nav-left {
  display: flex;
}
.player__nav-right {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.player__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333030;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.player__nav-button svg {
  width: 20px;
  aspect-ratio: 1;
}
.player__nav.volume-active .player__nav-right {
  transform: translateX(-60px);
}
.player__nav.volume-active .player__nav-right .player__volume {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}
.player__volume {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg) translateX(-50%) translateY(100px);
  height: 80px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.player__time {
  display: flex;
  color: #57f72f;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #333030;
  color: #57f72f;
  box-shadow: 0 5px 10px rgba(92, 165, 110, 0.32);
}

#repeatBtn svg, #mixBtn svg {
  color: #555252;
  transition: transform 0.8s ease;
}
#repeatBtn.active svg, #mixBtn.active svg {
  color: currentColor;
}

#repeatBtn.active svg {
  transform: rotate(360deg);
}

.player__cover {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #333030;
  box-shadow: 0 10px 60px rgba(13, 180, 13, 0.42);
}

.player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
}

.player p {
  font-size: 14px;
  color: #fff;
}

.player__seekbar {
  display: flex;
  align-items: center;
  margin: 40px 0 20px;
  height: 30px;
}

.player__seekbar-range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 30px;
  background: transparent;
  cursor: pointer;
}
.player__seekbar-range::-webkit-slider-runnable-track {
  height: 6px;
  background: #57f72f;
  border-radius: 4px;
}
.player__seekbar-range::-moz-range-track {
  height: 6px;
  background: #57f72f;
  border-radius: 4px;
}
.player__seekbar-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #333030;
  background: #57f72f;
  box-shadow: 0 5px 5px rgba(92, 165, 110, 0.32);
  margin-top: -12px;
}
.player__seekbar-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 8px solid #333030;
  background: #57f72f;
  box-shadow: 0 5px 5px rgba(92, 165, 110, 0.32);
}

.player__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player__control {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #333030;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  color: #57f72f;
  box-shadow: 0 10px 20px rgba(92, 165, 110, 0.32);
  cursor: pointer;
}
.player__control--play {
  transform: scale(1.5);
  background: #57f72f;
  position: relative;
  color: #333030;
}
.player__control--play .icon-play {
  display: block;
}
.player__control--play .icon-pause {
  display: none;
}
.player__control--play.playing .icon-play {
  display: none;
}
.player__control--play.playing .icon-pause {
  display: block;
}
.player__control--next svg {
  transform: rotate(180deg);
}
.player__control svg {
  width: 30px;
  height: 25px;
}/*# sourceMappingURL=style.css.map */